body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,p{
    margin: 0;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header{
    padding: 24px 0;
    margin-right: 76px;
}

.logo-studio{
    color: #2e2f42;
}

.nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
}

:hover.nav-item{
    color: #404bbf
}

:focus.nav-item{
    color: #404bbf
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    display: block;
    padding: 24px 0;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

:hover.contacts-link{
    color: #404bbf
}

:focus.contacts-link{
    color: #404bbf
}

.section-effective-sol-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
}

.section-effective-sol-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding-bottom: 48px;
}

:hover.section-effective-sol-button{
    background-color: #404bbf;
}

:focus.section-effective-sol-button{
    background-color: #404bbf;
}

.section-effective-sol{
    background-color: #2e2f42;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.title-three{
    font-size: 20px;
    line-height: 120%;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.paragraph{
    font-size: 16px;
    line-height: 150%;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.section-our-team{
    background-color: #F4F4FD;
}

.footer-line{
    background: #2e2f42;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.foot-paragraph{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-studio-sec{
    color: #f4f4fd;
}

.our-team-li{
    background-color: #ffffff;
}

.container-header{
    max-width: 1158px;
    padding-left: 0 15px;
    margin: 0 auto;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
}

.container-header{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list{
    display: flex;
    align-items: center;
}

.container-effective-sol{
    width: 1158px;
}